describe("Home", () => {
  describe("while loading", () => {
    it.todo("renders loader")
  })

  describe("with data", () => {
    it.todo("renders categories with products")
  })

  describe("with error", () => {
    it.todo("renders error message")
  })
})
