import { Header } from "./Header";
import { fireEvent } from "@testing-library/react";

describe("Header", () => {
  it.todo("renders correctly");

  it.todo("navigates to / on header title click");
});
